
.p_paper { max-width:60em; margin:0 auto;}
.s_pad .p_paper,
.s_pc .p_paper { padding:1.43em 1.43em 20em 1.43em;}


.s_pad .p_nav,
.s_pc .p_nav { display:block; position:absolute; left:50%; z-index:2; width:10em; margin-left:31em; top:1.43em;}
.s_pad .p_nav-col-2,
.s_pc .p_nav-col-2 { width:20em;}
.p_nav .content { box-shadow:none;}
.p_intro > .l_colItem:first-child { width:8em; flex:none;}
.p_intro > .l_colItem:first-child img { width:8em; height:auto;}



.p_index { font-weight:200;}
.p_index > .header { background:#4d5b65; box-sizing:border-box; overflow:hidden; position:relative;}
.p_index > .header .menu { display:none;}
.p_index > .header .logo { color:#fff; float:left; padding:0 0.8em; height:2.67em; font-weight:200; line-height:2.67em; font-size:150%;}
.p_index > .header .fn { position:absolute; z-index:2; right:0.8em; top:0.8em;}
.p_index > .header .fn .search { position:relative;}
.p_index > .header .fn .search .e_ico-search { background:#333c43; color:#a6adb2; margin-right:-1px; float:left; color:#a6adb2; height:2.4em; line-height:2.4; border-radius:1.2em 0 0 1.2em; width:2.4em; text-align:center;}
.p_index > .header .fn .search input { width:12em; color:#a6adb2; border:0 none; box-shadow:none; background:#333c43; float:left; height:2.4em; line-height:1.2; padding:0.6em 1em 0.6em 0; border-radius:0 1.2em 1.2em 0;}
.p_index > .header .fn .search input:focus { box-shadow:none;}
.p_index > .header .fn .search .e_ico-search { transition:background 0.3s ease-out;}
.p_index > .header .fn .search .e_ico-search,
.p_index > .header .fn .search input { transition:width 0.3s ease-out, background 0.3s ease-out, color 0.3s ease-out;}
.p_index > .header .fn .search .e_ico-close { z-index:2; position:absolute; right:0; top:0; line-height:2.4em; background:#fff; color:#ccc; display:none; width:2.4em; height:2.4em; text-align:center; cursor:default; border-radius:55%;}
.s_pc .p_index > .header .fn .search .e_ico-close:hover { color:#4d5b65;}
.p_index > .header .fn .search .e_ico-close.active { background:#eee;}
.p_index > .header .fn .search-focus .e_ico-search { background:#fff;}
.p_index > .header .fn .search-focus input { background:#fff; width:25em !important; color:#333;}
.p_index > .header .fn .search-focus .e_ico-close { display:block;}
.s_pc .p_index .c_float,
.s_pad .p_index .c_float { right:0em; top:4em; width:29em;}
.s_phone .p_index > .side { width:100%; top:0; left:0; background:none; border:0 none; overflow:hidden; visibility:hidden; transition:visibility 0.3s ease-out;}
.s_phone .p_index > .side .bg { background:rgba(0,0,0,0); width:100%; height:100%; transition:background 0.3s ease-out;}
.s_phone .p_index > .side > .box { position:absolute; left:0; top:0; background:#fff; transform:translateX(-100%); width:60%; height:100%; overflow:auto; transition:transform 0.3s ease-out;}
.s_phone .p_index > .side > .box .title:nth-child(1),
.s_phone .p_index > .side > .box .content:nth-child(2) { display:none;}
.s_phone .p_index > .side-show { visibility:visible;}
.s_phone .p_index > .side-show .box { transform:translateX(0%);}
.s_phone .p_index > .side-show .bg { background:rgba(0,0,0,0.5);}
.s_phone .p_index > .header { font-size:89%;}
.s_phone .p_index > .header .menu { display:block; float:left; height:4em; width:4em; text-align:center; line-height:4em; color:#fff; position:relative; z-index:1; margin-right:-0.5em;}
.s_pad .p_index > .header .menu.active,
.s_phone .p_index > .header .menu.active { background:#3e4951;}
.s_phone .p_index > .header .menu span { font-size:120%;}
.s_phone .p_index > .header .fn { font-size:112%; top:0.55em;}
.s_phone .p_index > .header .fn .search input { width:8em;}
.s_phone .p_index > .main { top:3.57em;}
.s_phone .p_index + .c_msg { left:0; bottom:3.57em; top:0;}
.s_phone .p_home { left:0;}
.s_phone .p_home .c_header { background:#4d5b65;}
.s_phone .p_home .c_header .fn .e_ico-search.active { background:#425264;}
.s_phone .p_homeList > ul > li { float:none; width:auto; margin-right:0; margin-bottom:0.71em;}



.p_accesskey { position:absolute; top:-1000em; left:-1000em;}



.p_index > .side { position:absolute; left:0; top:4em; left:0; width:16.2em; bottom:0; z-index:2; box-sizing:border-box; border-right:1px solid #d4d4d4; background:#fff; overflow:auto; padding:0;}
.p_index > .side:after { content:""; height:1em; display:block;}
.p_index > .side .title { line-height:3em; padding:0 0.3em; font-size:120%; font-weight:400; color:#68a2e5; overflow:hidden; cursor:default;}
.s_pc .p_index > .side .title:hover,
.s_pad .p_index > .side .title.active,
.s_phone .p_index > .side .title.active { background:#f7f7f7;}
.p_index > .side .text { float:left; margin-left:0.5em;}
.p_index > .side .ico { float:right; margin-right:0.5em; font-size:0.6em; color:#ccc;}
.p_index > .side .content { line-height:2.4em; padding:0 0.5em;}
.p_index > .side .content li { cursor:pointer; padding:0 0.8em; overflow:hidden;}
.p_index > .side .content li .main { float:left;}
.p_index > .side .content li .side { float:left; font-size:80%; color:#aaa; margin-left:0.5em;}
.s_pc .p_index > .side .content li:hover,
.s_pad .p_index > .side .content li.active,
.s_phone .p_index > .side .content li.active { color:#8fc320; background:#f7f7f7;}
.p_index > .side .content li.on,
.p_index > .side .content li.on:hover { color:#fff; background:#8fc320; cursor:default;}
.p_index > .side .content li.on .side,
.p_index > .side .content li.on:hover .side { color:#fff;} 
.p_index > .main { position:absolute; left:0; top:4em; right:0; bottom:0;}
.p_index > .main iframe { border:0 none; height:100%; width:100%; vertical-align:top; display:block;}
.p_index + .c_msg { top:4em; left:15em;}
.p_home { position:absolute; left:15em; top:0; right:0; bottom:0;}
.p_homeList > ul { overflow:hidden;}
.p_homeList > ul > li { float:left; width:19.5em; height:14em; margin-right:1.5em; margin-bottom:1.5em; background:#fff; border:1px solid #d4d4d4; cursor:pointer;}
.p_homeList > ul > li:hover { background:#f7f7f7;}

.c_list-styleDot ul li{ list-style-type:disc; line-height:3em}
.c_list-styleAbc ul li{ list-style-type:lower-latin; line-height:3em}
.c_list-styleNum ul li{ list-style-type:decimal-leading-zero; line-height:3em}

.s_pc .p_browser,
.s_pad .p_browser { background:#fff; border:1px solid #333; padding:0.3em;}
.s_pc .p_browser .header,
.s_pad .p_browser .header { padding:0.3em 0.5em 0 0.5em; margin:0 -0.3em; border-bottom:1px solid #333; position:relative; height:2em;}
.s_pc .p_browser .header .tab,
.s_pad .p_browser .header .tab { background:#fff; border:1px solid #333; border-bottom:0 none; color:#333; line-height:2em; box-sizing:border-box; height:2em; margin-top:1px; padding:0 3em 0 1em; top:0.3em; position:absolute;}
.s_pc .p_browser .header .tab .text,
.s_pad .p_browser .header .tab .text { float:left;}
.s_pc .p_browser .header .tab .e_ico-file,
.s_pad .p_browser .header .tab .e_ico-file { margin-right:0.36em; display:block; float:left; display:none;}
.s_pc .p_browser .header .tab .e_ico-close,
.s_pad .p_browser .header .tab .e_ico-close { margin-left:2.14em; font-size:0.71em; opacity:0.5; float:left; display:none;}
.s_pc .p_browser .header .add,
.s_pad .p_browser .header .add { display:inline-block; width:1.43em; height:1.43em; background:#fff; opacity:0.5; border-radius:0.21em; position:relative; top:0.5em;}
.s_pc .p_browser .header .op,
.s_pad .p_browser .header .op { color:#fff; opacity:0.5; position:absolute; right:0; top:0; line-height:1.43em; width:1.43em; font-size:0.86em; text-align:center;}
.s_pc .p_browser .adress,
.s_pad .p_browser .adress { display:table; width:100%; border-collapse:collapse; background:#fff; color:#aaa; font-size:1.14em; line-height:2.19em;}
.s_pc .p_browser .adress .ico,
.s_pad .p_browser .adress .ico { width:2.19em; text-align:center; display:table-cell;}
.s_pc .p_browser .adress .input,
.s_pad .p_browser .adress .input { display:table-cell; vertical-align:middle;}
.s_pc .p_browser .adress .input:before,
.s_pad .p_browser .adress .input:before { content:""; display:block; background:#fff; height:1.69em; border:1px solid #ddd; border-radius:0.12em;}
.s_pc .p_browser iframe,
.s_pad .p_browser iframe { height:20em; border:1px solid #333; box-sizing:border-box;}

.s_phone .p_browser { padding:1em 0.3em 1em 0.3em; border-radius:0.8em; width:21em; margin:0 auto; background:#fff; border:1px solid #333;}
.s_phone .p_browser .header { display:none;}
.s_phone .p_browser .adress { display:none;}
.s_phone .p_browser iframe { height:32em; border:1px solid #999;}
.s_phone .p_browser:before { content:""; display:block; width:4em; border-radius:0.25em; border:1px solid #333; height:0.5em; margin:0 auto;}
.s_phone .p_browser:after { content:""; display:block; width:2.4em; height:2.4em; border:1px solid #333; border-radius:50%; margin:1em auto 0;}
.s_phone .p_browser .window { margin-top:1em;}

// .header {
// 	background:#5b8bd9; padding:0.1rem 0.05rem 0 0.1rem; position:relative;
// 	.tab { background:#f9f9f9; display:inline-flex; line-height:0.3rem; padding:0 0.14rem; border-top-left-radius:0.08rem; border-top-right-radius:0.08rem;}
// 	.tab .e_ico-file { margin-right:0.05rem; display:block;}
// 	.tab .e_ico-close { margin-left:0.3rem; font-size:0.1rem; opacity:0.5;}
// 	.add { display:inline-block; width:0.2rem; height:0.2rem; background:#fff; opacity:0.5; border-radius:0.03rem; position:relative; top:0.07rem;}
// 	.op { color:#fff; opacity:0.5; position:absolute; right:0; top:0; line-height:0.2rem; width:0.2rem; font-size:0.12rem; text-align:center;}
// }
// .adress {
// 	display:flex; background:#f9f9f9; border-bottom:1px solid #ddd; font-size:0.16rem; line-height:0.35rem;
// 	.ico { width:0.35rem; text-align:center;}
// 	.input { background:#fff; flex:1; height:0.27rem; border:1px solid #ddd; margin-top:0.03rem; border-radius:0.02rem;}
// }



// .s_phone .p_index > .header { display:none;}

.c_paragraph{ line-height:2em;}
.c_paragraph p{  margin-bottom:0.41em}

.c_table-fictitious tr td{ padding:0.71em;}

